
services:
  # -- Database (TimescaleDB)
  timescaledb:
    image: timescale/timescaledb:latest-pg15
    container_name: timescaledb
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: trading
    command: >
      postgres -c wal_level=logical
              -c max_replication_slots=10
              -c max_wal_senders=10
              -c shared_preload_libraries='timescaledb'
    volumes:
      - timescaledb_data:/var/lib/postgresql/data
      - ./database/timescaledb/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - cdc_net

  # -- Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - cdc_net

  # -- Kafka
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - cdc_net

  # -- Kafka Connect (Debezium)
  kafka_connect:
    image: quay.io/debezium/connect:3.1.3.Final
    container_name: kafka_connect
    depends_on:
      - kafka
    ports:
      - "8083:8083"
    environment:
      BOOTSTRAP_SERVERS: kafka:29092
      GROUP_ID: connect-cluster
      CONFIG_STORAGE_TOPIC: connect-configs
      OFFSET_STORAGE_TOPIC: connect-offsets
      STATUS_STORAGE_TOPIC: connect-status
      KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      KEY_CONVERTER_SCHEMAS_ENABLE: "false"
      VALUE_CONVERTER_SCHEMAS_ENABLE: "false"
    networks:
      - cdc_net
      
  # -- Kafka UI
  kafka_ui:
      image: provectuslabs/kafka-ui:latest
      container_name: kafka_ui
      ports:
        - "8081:8080"
      environment:
        KAFKA_CLUSTERS_0_NAME: local
        KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
        KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
        KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: kafka_connect
        KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: http://kafka_connect:8083
        DYNAMIC_CONFIG_ENABLED: "true"
        SERVER_SERVLET_CONTEXT_PATH: /
        AUTH_TYPE: LOGIN_FORM
        SPRING_SECURITY_USER_NAME: admin
        SPRING_SECURITY_USER_PASSWORD: Admin@123
      depends_on:
        - kafka
        - kafka_connect
      networks:
        - cdc_net

  # -- MinIO (object store for Hudi tables)
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    networks:
      - cdc_net

networks:
  cdc_net:

volumes:
  timescaledb_data:
  minio_data:
